//Importar
@import "CoolKitten-grid";
@import "variab";
@import "mixins";
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,500,700);

//variables
/* !Colores */
@gris:#232323;
@grisMedio: (@gris + 30);
@grisClaro:(@grisMedio + 80);
@rojo:#de1c24;
@violeta:#662a9d;
@morado:#4b2da7;
@azul:#2e3190;
@darksLateblue:#2d51a7;
@steelBlue:#2a6a9d;

//Mixins
.alegreya(){font-family: 'Alegreya Sans', sans-serif;}
.light(){font-weight: 300;}
.regular(){font-weight: 400;}
.medium(){font-weight: 500;}
.bold(){font-weight: 700;}

//Generales
html {
  font-size: 6.25%; /* Sets up the Base 10 stuff */
}
body{
	color: @grisMedio;
	.alegreya();
	.font-size(16);
    .regular();
}
.container{max-width: 1400px;}

/* General button style (reset) */
.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	.transition();
    &:after {
        content: '';
        position: absolute;
        z-index: -1;
        .transition();
    }
}

/* imágenes */

img {
    max-width: 100%;
    &.centered {
        display: block;
        margin: 0 auto;
    }
    &.alignleft {
        float: left;
        margin: 1em;
    }
    &.alignright {
        float: right;
        margin: 1em;
    }
}

//Header
header{
    display: flex;
	h1{
		background: url(../images/UrbanSigns_logo.jpg) no-repeat scroll center center;
		width: 265px;
		height: 56px;
		text-indent: -5000%;
		background-size: 100% auto;
		display: inline-block;
		@media @mobile {
			margin: .5em;
  		}
  		@media @laptop {
			margin: .5em 1.3em .5em 0;
  		}
        @media @bigScreen {
			margin: .5em 4em .5em 0;
  		}
	}
    #cd-main-nav, #cd-nav{
        display: inline-block;
    }
    @media @bigScreen {
        #cd-nav ul li {margin: 0 .6em;}
    }
}


#cd-nav {
    margin-top: 1.5em;
	ul {
	  /* mobile first */
	  position: fixed;
	  width: 90%;
	  max-width: 400px;
	  right: 5%;
	  bottom: 5px;
	  .borderRadius(5);
	  .boxShadow(0, 0, 10px, rgba(232, 74, 100, 0.4));
	  background:@blanco;
	  visibility: hidden;
	  /* remove overflow:hidden if you want to create a drop-down menu - but then remember to fix/eliminate the list items animation */
	  overflow: hidden;
	  z-index: 1;
	  /* Force Hardware Acceleration in WebKit */
	  backface-visibility: hidden;
	  .transform(scale(0));
	  .transformOrigin (100%, 100%);
	  .transition();
        
        @media @laptop{
		  	/* the navigation moves to the top */
		    width: auto;
		    max-width: none;
		    background: transparent;
		    visibility: visible;
		    box-shadow: none;
            display: inline-block;
            margin: 0;
            padding: 0;
            position: relative;
            top: 0;
            right: 0;
		    .transform(scale(1));
		    .transition(all,0s);
        }
      
        li {
            @media @mobile{
                /* Force Hardware Acceleration in WebKit */
                backface-visibility: hidden;
                list-style-type: none;
                display: block;
                border-bottom: none;
                text-decoration: none;
                color: @grisMedio;
                font-variant: small-caps;
                text-transform: uppercase;
                padding: .35em .54em;
                cursor: pointer;
                &:hover, &:active{
                    color: @rojo;
                }
                &.active{
                    background: @steelBlue;
                    .transition();
                    color: @blanco;
                    &:hover{
                        background: @rojo;
                        color: @blanco;
                    }
                }
		    }
            
            @media @laptop{
                display:inline-block;
                .opacity(1);
                .transition();
                &.active{
                    .borderRadius(5);
                }
            }
            
            @media @desktop{
              padding: .35em 1.05em;
            }
        }
      
	  &.is-visible {
		  visibility: visible;
		  .transform(scale(1));
		  .transition();
          padding: 0;
          a {
			    display: block;
                border-bottom: none;
                text-decoration: none;
				color: @grisMedio;
				font-variant: small-caps;
				text-transform: uppercase;
                padding: .35em .593em;
                .font-size(20);
                &:hover, &:active{
                    color: @rojo;
                }
                &.active{
                    background: @steelBlue;
                    .transition();
                    color: @blanco;
                    &:hover{
                        background: @rojo;
                        color: @blanco;
                    }
                }
			}
		  /* list items animation */
		  li:nth-child(1) {
		    .animation(cd-slide-in, 0.3s);
		  }
		  li:nth-child(2) {
		    .animation(cd-slide-in, 0.4s);
		  }
		  li:nth-child(3) {
		    .animation(cd-slide-in, 0.5s);
		  }
		  li:nth-child(4) {
		    .animation(cd-slide-in, 0.6s);
		  }
		  li:nth-child(5) {
		    .animation(cd-slide-in, 0.7s);
		  }
		  li:nth-child(6) {
		    .animation(cd-slide-in, 0.8s);
		  }
		  li:nth-child(7) {
		    .animation(cd-slide-in, 0.9s);
		  }
		}
	}
	@media @laptop{
		&.is-fixed ul {
		    /* when the user scrolls down, the navigation moves to the bottom right in Fixed position - as on touch devices */
		    position: fixed;
		    width: 90%;
		    max-width: 400px;
		    bottom: 20px;
		    top: auto;
		    background: white;
		    visibility: hidden;
            right: 5%;
		    .boxShadow(0,0,10px,rgba(232, 74, 100, 0.4));
		    .transform(scale(0));
		    &.has-transitions {
			    /* this class is used to bring back transitions when the navigation moves at the bottom right */
			    .transition();
			  }
			  &.is-visible {
			    /* this class is used to bring back the navigation animation - as on touch devices */
			    visibility: visible;
			    .transform(scale(1));
			    .transition();
			  }
			  &.is-hidden {
			    /* this class is used to animate the scale down the navigation when the user scrolls down with the navigation still open */
			    .transform(scale(0));
			    .transition();
			  }
		    li {
				display: block;
                margin-left: 0;
  			}
		  }
	}
}

.cd-nav-trigger {
  position: fixed;
  bottom: 22px;
  right: 5%;
  width: 44px;
  height: 44px;
  background: white;
  .borderRadius(5);
  .boxShadow(0, 0, 10px, rgba(232, 74, 100, 0.4));
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 2;
  span {
	  /* the span element is used to create the menu icon */
	  .absoluta(50%, 50%);
	  display: block;
	  width: 20px;
	  height: 2px;
	  background: @rojo;
	  margin-top: -1px;
	  margin-left: -10px;
	  .transition(background);
	  &::before, &::after {
		  content: '';
		  position: absolute;
		  left: 0;
		  background: inherit;
		  width: 100%;
		  height: 100%;
		  .transform(translateZ(0));
		  .transition();
		}
		&::before {
		  top: -6px;
		  .transform(rotate(0));
		}
		&::after {
		  bottom: -6px;
		  .transform(rotate(0));
		}
	}
	&.menu-is-open {
		box-shadow: none;
		span {
			background: rgba(232, 74, 100, 0);
			&::before, &::after {
			  background: @rojo;
			}
			&::before {
			  top: 0;
			  .transform(rotate(135deg));
			}
			&::after {
			  bottom: 0;
			  .transform(rotate(225deg));
			}
		}
		
	}
    @media @laptop{
        visibility: hidden;
        .transform(scale(0));
        .transition();
    }
}

.is-fixed{
    .cd-nav-trigger{
        @media @laptop{
            visibility: visible;
            .transition(all, 0s);
            .transform(scale(1));
            .animation(cd-bounce-in, 0.3s, linear);
        }
    }
}

/*--- Animaciones ---*/
@keyframes cd-slide-in {
  0% {
        .transform(translateX(100px));
  }
  100% {
        .transform(translateY(0));
  }
}

@keyframes cd-bounce-in {
  0% {
        .transform(scale(0));
  }

  60% {
        .transform(scale(1.2));
  }

  100% {
        .transform(scale(1.2));
  }
}

/* General Slides */ 

.slide{
	background-attachment: fixed;
	width:100%;
	height:auto;
	position: relative;
	padding:140px 0;
}

#inicio{
    background-image:url(../images/bkg-01.jpg);
    background-color: @azul;
    color: @blanco;
    &.slide{
        @media @mobile{padding: 2em 0;}
        @media @tablet{padding: 70px 0;}
        @media @laptop{padding: 140px 0;}
    }
    .container{overflow-x: hidden;}
    .vectors,.vendors{
        text-align: center;
        @media @mobile{width:100%;}
        @media @laptop{width:48%;}
    }
    .vectors{
        float: left;
        img{
            @media @mobile{
                height: 250px;
                width: auto;
                max-width: inherit;
            }
            @media @tablet{
                height:auto;
                width:100%;
                max-width:100%;
            }
        }
    }
    .vendors{
        float: right;
    }
    h2{.font-size(34);margin-top: 0;}
    p{.font-size(18);}
    button{
        padding: .3em 1em;
        text-transform: uppercase;
        color: @blanco;
        text-decoration: none;
        line-height: 2em;
        margin-bottom: 1em;
        .font-size(24); 
        .border(2px, solid, @blanco);
        .borderRadius(8);
        background: transparent;
        z-index: 1;
        /* Button 1b */
        &:after {
            width: 100%;
            height: 0;
            bottom: 0;
            left: 0;
            background:@blanco;
            z-index: -4;
        }
        &:hover,
        &:active {
            color:@azul;
        }
        &:hover:after,
        &:active:after {
            height: 100%;
            z-index: -4;
        }
    } 
}

#empresa{
    &.slide {padding: .4em 0 4em;}
    text-align: center;
    h2{
        .font-size(50);
        color: @morado;
        margin-bottom: 0;
    }
    h3{
        .font-size(18);
        .light();
        margin: .5em auto 2.5em;
    }
    p{.font-size(18);margin-bottom: 2.5em;}
    img{
        .border(10px, solid, @blanco);
        .boxShadow(0, 0, 10px, @grisClaro);
    }
}

#testimonios{
    color: @blanco;
    text-align: center;
    background-image:url(../images/bkg-02.jpg);
    background-color: @darksLateblue;
    &.slide {padding: 85px 0;}
    h2{.font-size(36);}
    p{.font-size(24);.light();}
    span{.font-size(24);}
}