//Importar
@import "CoolKitten-grid";
@import "variab";
@import "mixins";
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,500,700);

//variables
/* !Colores */
@gris:#232323;
@grisMedio: (@gris + 30);
@grisClaro:(@grisMedio + 80);
@rojo:#de1c24;
@darkRed:(@rojo - #333);
@violeta:#662a9d;
@morado:#4b2da7;
@azul:#2e3190;
@darksLateblue:#2d51a7;
@steelBlue:#2a6a9d;

//Mixins
.alegreya(){font-family: 'Alegreya Sans', sans-serif;}
.light(){font-weight: 300;}
.regular(){font-weight: 400;}
.medium(){font-weight: 500;}
.bold(){font-weight: 700;}

//Generales
html {
  font-size: 6.25%; /* Sets up the Base 10 stuff */
}
body{
	color: @grisMedio;
	.alegreya();
	.font-size(16);
    .regular();
}
.container{max-width: 1400px;}

@font-face {
  font-family: "urban";
  src:url("../fonts/urban.eot");
  src:url("../fonts/urban.eot?#iefix") format("embedded-opentype"),
    url("../fonts/urban.woff") format("woff"),
    url("../fonts/urban.ttf") format("truetype"),
    url("../fonts/urban.svg#urban") format("svg");
  font-weight: normal;
  font-style: normal;
}

.urban() {
	font-family: "urban" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
}

/* General button style (reset) */
.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	.transition();
    &:after {
        content: '';
        position: absolute;
        z-index: -1;
        .transition();
    }
}

/* imágenes */

img {
    max-width: 100%;
    &.centered {
        display: block;
        margin: 0 auto;
    }
    &.alignleft {
        float: left;
        margin: 1em;
    }
    &.alignright {
        float: right;
        margin: 1em;
    }
}

/* On the flex container */
.flexcontainer(@aligItems:center,@justifyContent:center,@aligContent:center, ) {
   display: flex;
   align-items: @aligItems;
   justify-content: @justifyContent;
   /* You can set flex-wrap and flex-direction individually */
   flex-direction: row;
   flex-wrap: wrap;
   /* Or do it all in one line with flex flow */
   flex-flow: row wrap;
   /* tweak the where items line up on the row */
   /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
   align-content: @aligContent;
}

.tituloSeccion(@color:@morado,@margen:@arguments){
    .font-size(50);
    color: @color;
    margin:@margen;
}

//Header
header {
    display: flex;
    h1 {
        background: url(../images/UrbanSigns_logo.jpg) no-repeat scroll center center;
        width: 265px;
        height: 56px;
        text-indent: -5000%;
        background-size: 100% auto;
        display: inline-block;
        @media @mobile {
            margin: .5em;
        }
        @media @laptop {
            margin: .5em 1.3em .5em 0;
        }
        @media @bigScreen {
            margin: .5em 4em .5em 0;
        }
    }
    #cd-main-nav,
    #cd-nav {
        display: inline-block;
    }
    @media @bigScreen {
        #cd-nav ul li {
            margin: 0 .6em;
        }
    }
}


#cd-nav {
    margin-top: 1.5em;
	ul {
	  /* mobile first */
	  position: fixed;
	  width: 90%;
	  max-width: 400px;
	  right: 5%;
	  bottom: 5px;
	  .borderRadius(5);
	  .boxShadow(0, 0, 10px, rgba(232, 74, 100, 0.4));
	  background:@blanco;
	  visibility: hidden;
	  /* remove overflow:hidden if you want to create a drop-down menu - but then remember to fix/eliminate the list items animation */
	  overflow: hidden;
	  z-index: 1;
	  /* Force Hardware Acceleration in WebKit */
	  backface-visibility: hidden;
	  .transform(scale(0));
	  .transformOrigin (100%, 100%);
	  .transition();
        
        @media @laptop{
		  	/* the navigation moves to the top */
		    width: auto;
		    max-width: none;
		    background: transparent;
		    visibility: visible;
		    box-shadow: none;
            display: inline-block;
            margin: 0;
            padding: 0;
            position: relative;
            top: 0;
            right: 0;
		    .transform(scale(1));
		    .transition(all,0s);
        }
      
        li {
            @media @mobile{
                /* Force Hardware Acceleration in WebKit */
                backface-visibility: hidden;
                list-style-type: none;
                display: block;
                border-bottom: none;
                text-decoration: none;
                color: @grisMedio;
                font-variant: small-caps;
                text-transform: uppercase;
                padding: .35em .54em;
                cursor: pointer;
                &:hover, &:active{
                    color: @rojo;
                }
                &.active{
                    background: @steelBlue;
                    .transition();
                    color: @blanco;
                    &:hover{
                        background: @rojo;
                        color: @blanco;
                    }
                }
		    }
            
            @media @laptop{
                display:inline-block;
                .opacity(1);
                .transition();
                &.active{
                    .borderRadius(5);
                }
            }
            
            @media @desktop{
              padding: .35em 1.05em;
            }
        }
      
	  &.is-visible {
		  visibility: visible;
		  .transform(scale(1));
		  .transition();
          padding: 0;
          a {
			    display: block;
                border-bottom: none;
                text-decoration: none;
				color: @grisMedio;
				font-variant: small-caps;
				text-transform: uppercase;
                padding: .35em .593em;
                .font-size(20);
                &:hover, &:active{
                    color: @rojo;
                }
                &.active{
                    background: @steelBlue;
                    .transition();
                    color: @blanco;
                    &:hover{
                        background: @rojo;
                        color: @blanco;
                    }
                }
			}
		  /* list items animation */
		  li:nth-child(1) {
		    .animation(cd-slide-in, 0.3s);
		  }
		  li:nth-child(2) {
		    .animation(cd-slide-in, 0.4s);
		  }
		  li:nth-child(3) {
		    .animation(cd-slide-in, 0.5s);
		  }
		  li:nth-child(4) {
		    .animation(cd-slide-in, 0.6s);
		  }
		  li:nth-child(5) {
		    .animation(cd-slide-in, 0.7s);
		  }
		  li:nth-child(6) {
		    .animation(cd-slide-in, 0.8s);
		  }
		  li:nth-child(7) {
		    .animation(cd-slide-in, 0.9s);
		  }
		}
	}
	@media @laptop{
		&.is-fixed ul {
		    /* when the user scrolls down, the navigation moves to the bottom right in Fixed position - as on touch devices */
		    position: fixed;
		    width: 90%;
		    max-width: 400px;
		    bottom: 20px;
		    top: auto;
		    background: white;
		    visibility: hidden;
            right: 5%;
		    .boxShadow(0,0,10px,rgba(232, 74, 100, 0.4));
		    .transform(scale(0));
		    &.has-transitions {
			    /* this class is used to bring back transitions when the navigation moves at the bottom right */
			    .transition();
			  }
			  &.is-visible {
			    /* this class is used to bring back the navigation animation - as on touch devices */
			    visibility: visible;
			    .transform(scale(1));
			    .transition();
			  }
			  &.is-hidden {
			    /* this class is used to animate the scale down the navigation when the user scrolls down with the navigation still open */
			    .transform(scale(0));
			    .transition();
			  }
		    li {
				display: block;
                margin-left: 0;
  			}
		  }
	}
}

.cd-nav-trigger {
  position: fixed;
  bottom: 22px;
  right: 5%;
  width: 44px;
  height: 44px;
  background: white;
  .borderRadius(5);
  .boxShadow(0, 0, 10px, rgba(232, 74, 100, 0.4));
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 2;
  span {
	  /* the span element is used to create the menu icon */
	  .absoluta(50%, 50%);
	  display: block;
	  width: 20px;
	  height: 2px;
	  background: @rojo;
	  margin-top: -1px;
	  margin-left: -10px;
	  .transition(background);
	  &::before, &::after {
		  content: '';
		  position: absolute;
		  left: 0;
		  background: inherit;
		  width: 100%;
		  height: 100%;
		  .transform(translateZ(0));
		  .transition();
		}
		&::before {
		  top: -6px;
		  .transform(rotate(0));
		}
		&::after {
		  bottom: -6px;
		  .transform(rotate(0));
		}
	}
	&.menu-is-open {
		box-shadow: none;
		span {
			background: rgba(232, 74, 100, 0);
			&::before, &::after {
			  background: @rojo;
			}
			&::before {
			  top: 0;
			  .transform(rotate(135deg));
			}
			&::after {
			  bottom: 0;
			  .transform(rotate(225deg));
			}
		}
		
	}
    @media @laptop{
        visibility: hidden;
        .transform(scale(0));
        .transition();
    }
}

.is-fixed{
    .cd-nav-trigger{
        @media @laptop{
            visibility: visible;
            .transition(all, 0s);
            .transform(scale(1));
            .animation(cd-bounce-in, 0.3s, linear);
        }
    }
}

/*--- Animaciones ---*/
@keyframes cd-slide-in {
  0% {
        .transform(translateX(100px));
  }
  100% {
        .transform(translateY(0));
  }
}

@keyframes cd-bounce-in {
  0% {
        .transform(scale(0));
  }

  60% {
        .transform(scale(1.2));
  }

  100% {
        .transform(scale(1.2));
  }
}

/* General Slides */ 

.slide{
	background-attachment: fixed;
	width:100%;
	height:auto;
	position: relative;
	padding:140px 0;
}

#inicio{
    background-image:url(../images/bkg-01.jpg);
    background-color: @azul;
    color: @blanco;
    &.slide{
        @media @mobile{padding: 2em 0;}
        @media @tablet{padding: 70px 0;}
        @media @laptop{padding: 140px 0;}
    }
    .container{overflow-x: hidden;}
    .vectors,.vendors{
        text-align: center;
        @media @mobile{width:100%;}
        @media @laptop{width:48%;}
    }
    .vectors{
        float: left;
        img{
            @media @mobile{
                height: 250px;
                width: auto;
                max-width: inherit;
            }
            @media @tablet{
                height:auto;
                width:100%;
                max-width:100%;
            }
        }
    }
    .vendors{
        float: right;
    }
    h2{.font-size(34);margin-top: 0;}
    p{.font-size(18);}
    button{
        padding: .3em 1em;
        text-transform: uppercase;
        color: @blanco;
        text-decoration: none;
        line-height: 2em;
        margin-bottom: 1em;
        .font-size(22); 
        .border(2px, solid, @blanco);
        .borderRadius(8);
        background: transparent;
        z-index: 1;
        /* Button 1b */
        &:after {
            width: 100%;
            height: 0;
            bottom: 0;
            left: 0;
            background:@blanco;
            z-index: -4;
        }
        &:hover,
        &:active {
            color:@azul;
        }
        &:hover:after,
        &:active:after {
            height: 100%;
            z-index: -4;
        }
    } 
}

#empresa{
    &.slide {padding: .4em 0 4em;}
    text-align: center;
    h2{.tituloSeccion(@morado,.83em 0 0);}
    h3{
        .font-size(18);
        .light();
        margin: .5em auto 2.5em;
    }
    p{.font-size(18);margin-bottom: 2.5em;}
    img{
        .border(10px, solid, @blanco);
        .boxShadow(0, 0, 10px, @grisClaro);
        width: 93%;
    }
}

#testimonios{
    color: @blanco;
    background-image:url(../images/bkg-02.jpg);
    background-color: @darksLateblue;
    &.slide {padding: 45px 0;}
    h2{
        margin: 0;
        text-align: center;
        .font-size(36);
    }
}

.wrapper {
  max-width: 1400px;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.carousel {
  width: 100%;
  position: relative;
  
  .carousel__content {
    width: auto;
    position: relative;
    overflow: hidden;
    backface-visibility: hidden;
    .transition();  
    
    .item {
      display: block;
      float: left;
      width: 100%;
      position: relative;
      
      .title {
        margin:0.5em auto 1em;
        padding: 0;
        width: 85%;
        text-align: center;
        color: @blanco;
        .font-size(24);
        .light();
      }
      .title--sub {
        margin-top:0;
        display: block;
        .font-size(24);
        .opacity(.5);
      }
    }
  }
    
  .carousel__nav {
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -17px;
    left: 0;
    z-index: 1;
    .nav {
      position: absolute;
      top: 0;
      color:@blanco;
      text-decoration: none;
      .opacity(.5);
      .font-size(24);
      .transition(all, .25s, ease);
      &:hover {
          .opacity(1);
          .font-size(28);
      }
    }
    .nav--right {
      right: 0;
    }
  }
}  

#servicios{
    text-align: center;
    .flexcontainer();
    &.slide {padding: 50px 0;}
    h2{.tituloSeccion(@morado,0 0 1em);width: 100%;}
    section{
        height: 280px;
        width: 280px;
        background:(@grisClaro+#666-11);
        overflow: hidden;
        .border(1px, solid, (@grisClaro+#333+27));
        div {
            color: @morado;
            margin-top: 95px;
            .font-size(55);
            .transition();
            &.icon-caja-de-luz {
				.transition();
				&:before {
  					content: "d";
					line-height:0.61em!important;
					.font-size(70);
					.urban();
				}
            }
            &.icon-letras{
                margin-top: 75px;
				height: 91px;
                .transition();
                .font-size(100);
				&:before {
  					content: "h";
					.urban();
				}
            }
            &.icon-neon{
                line-height: .91em;
                margin-top: 80px;
                .font-size(75);
                .transition();
                &:before {
					content: "i";
					.urban();
					.textShadow(0, 0, 6px, @morado);
				}
            }
			 &.icon-alucobond{
				&:before {
  					content: "c";
					.urban();
				}
            }
			&.icon-elevados{
				&:before {
  					content: "e";
					.urban();
				}
            }
			&.icon-especiales{
				&:before {
  					content: "f";
					.urban();
				}
            }
			&.icon-impresiones{
				&:before {
  					content: "g";
					.urban();
				}
            }
			&.icon-totem{
				&:before {
  					content: "j";
					.urban();
				}
            }
        }
        h3{
            color: @negro;
            margin: 0 auto .5em;
            .font-size(21);
            .bold();
        }
        p{
            width: 0;
            line-height: 0;
            margin: 0 auto;
            .opacity(0);
            .font-size(0);
            .transition();
        }
        button{
            background: @rojo;
            color: @blanco;
            transition: none;
            padding: 10px 30px;
            .font-size(18);
            .boxShadow(0, 6px, 0, @darkRed);
            .borderRadius(20);
            .opacity(0);
            .transition();
            &:hover {
                top: 2px;
	            .boxShadow(0, 4px, 0, @darkRed);
            }
            &:active {
                top: 6px;
	            .boxShadow(0, 0, 0, @darkRed);
            }
        }
        &:hover{
            div{
                margin-top: 10px;
                &.icon-letras{margin-top: 0;}
                &.icon-neon{margin-top: 0;}
            }
            p{
                width: 90%;
                line-height: 1.5em;
                .opacity(1);
                .font-size(14);
            }
            button{
                .opacity(1);
            }
        }
    }
}

#portafolio{
    &.slide {padding: 50px 0;}
    &.container {max-width: 1132px;}
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        margin-bottom: 1em;
        height: auto!important;
        li{
            display: inline-block;
            .transition(); 
            &.show{.opacity(1);height: 265px;width: 265px;}
            &.hide{.opacity(0);height: 0; width: 0;}
        }
    }
    h2{.tituloSeccion(@morado,0 0 1em);width: 100%;text-align: center;}
    /* Button 1 */
    .btn {
	    border: 3px solid @morado;
	    color:@morado;
        display: inline-block;
        text-decoration: none;
        padding: .2em 1em;
        margin: 0 0 .5em .5em;
        text-transform: inherit;
        letter-spacing: initial;
        .font-size(18);
        .borderRadius(20);
        &:hover,
        &:active,
        &.selected{
	        color:@blanco;
	        background:@morado;
        }
    }
}

/* Grid portafolio */
.og-grid {
	list-style: none;
	padding: 20px 0;
	margin: 0 auto;
	text-align: center;
	width: 100%;
    li {
        margin: .5em;
        vertical-align: top;
        height: 265px;
        width: 265px;
        display: inline-block;
        & > a,
        & > a img {
            border: none;
            outline: none;
            display: block;
            position: relative;
        }
        &.og-expanded > a::after {
            top: auto;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-bottom-color: (@gris + 189);
            border-width: 15px;
            left: 50%;
            margin: -20px 0 0 -15px;
        }
    }
}

.og-expander {
	position: absolute;
	background: (@gris + 189);
	top: auto;
	left: 0;
	width: 100%;
	margin-top: 10px;
	text-align: left;
	height: 0;
	overflow: hidden;
	@media @mobile{
		h3 { .font-size(24); }
	}
	@media @tablet{
		h3 { .font-size(32); }
	}
}

@media screen and (max-width: 830px) {
	.og-expander p { font-size: 13px; }
	.og-expander a { font-size: 12px; }
}

.og-expander-inner {
	padding: 50px 30px;
	height: 75%;
	@media @mobile{
		padding: 20px;
	}
	@media @tablet{
		padding: 50px 30px;
	}
}

.og-close {
	position: absolute;
	cursor: pointer;
	@media @mobile{
		width:32px;
		height:32px;
		top:5px;
		right:5px;
	}
	@media @tablet{
		width: 40px;
		height: 40px;
		top: 20px;
		right: 20px;
	}
    &::before,
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        top: 50%;
        height: 1px;
        background: (@gris + 100);
        .transform(rotate(45deg));
    }
    &::after {.transform(rotate(-45deg));}
    &:hover::before,
    &:hover::after {
	    background: #333;
    }
}

.og-fullimg,
.og-details {
	width: 46%;
	float: left;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.og-details {
	padding: 0 40px 0 20px;
    h3 {
        font-weight: 300;
        padding: 0;
        margin: 0;
    }
    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #999;
    }
    a{display: none;}
	@media @mobile{
		h3{font-size: 24px;}
	}
	@media @mobile{
		h3{font-size: 24px;}
	}
}

.og-fullimg {
	text-align: center;
    img {
        display: inline-block;
        max-height: 100%;
        max-width: 100%;
    }
}

.og-loading {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: (@gris + 189);
	box-shadow: 0 0 1px (@gris + 181), 15px 30px 1px (@gris + 181), -15px 30px 1px (@gris + 181);
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
    .animation (loader, 0.5s, infinite, ease-in-out);
}

@keyframes loader {
	0% { background: (@gris + 189); }
	33% { background: (@gris + 181); box-shadow: 0 0 1px (@gris + 181), 15px 30px 1px (@gris + 181), -15px 30px 1px (@gris + 189); }
	66% { background: (@gris + 181); box-shadow: 0 0 1px (@gris + 181), 15px 30px 1px (@gris + 189), -15px 30px 1px (@gris + 181); }
}



@media screen and (max-width: 650px) {
	.og-fullimg { display: none; }
	.og-details { float: none; width: 100%; }
}

#clientes{
    padding: 0;
    h2{.tituloSeccion(@morado,0);width: 100%;text-align: center;}
    div{
        .flexcontainer();
        img{
			margin: 2em 1em;
			@media screen and (max-width: 569px){
				width: 25%;
			}
		}
    }
}

#cotizador{
	padding: 3em 0;
    h2{
		.tituloSeccion(@morado,0);
		width: 100%;
		text-align: center;
		margin-bottom: 1em;
	}
	#form_cotizador{
		
		.inputs{
			@media @desktop{
				width: 48%;
				margin-right: 3%;
				display: inline-table;
			}
				div{
				&:first-child, &:nth-child(3), &:nth-child(5){
					@media @smallTablet{
						width: 47%;
						margin-right: 5%;
						display: inline-block;
					}
					@media @desktop{
						width:100%;
						margin-right: 0;
					}
				}
				&.cs-skin-underline{
					@media @smallTablet{
						width:100%;
					}
				}
				&:nth-child(2), &:nth-child(4), &:nth-child(6){
					@media @smallTablet{
						width: 47%;
						display: inline-block;
					}
					@media @desktop{
						width:100%;
						margin-right: 0;
					}
				}
				&:nth-child(5){
					@media @smallTablet{
						input{
							width:44%;
							display: inline-block;
							.font-size(16);
							&:first-child{margin-right: 3%;}
						}
					}
					@media @tablet{
						input{
							.font-size(18);
						}
					}
				}
			}
			.cs-options{width: 100%!important;}
		}
		.textarea{
			@media @desktop{
				width: 48%;
				display: inline-table;
			}
			textarea {
					@media @smallTablet{
						width: 98%;
						height: 10em;
						.font-size(18);
					}
				}
		}
	}
}

/* Default custom select styles */
div.cs-select {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	text-align: left;
	background: #fff;
	z-index: 100;
	width: 100%;
	user-select: none;
}

div.cs-select:focus {
	outline: none; /* For better accessibility add a style for this in your skin */
}

.cs-select select {
	display: none;
}

.cs-select span {
	display: block;
	position: relative;
	cursor: pointer;
	padding: 1em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Placeholder and selected option */
.cs-select > span {
	padding-right: 3em;
}

.cs-select > span::after,
.cs-select .cs-selected span::after {
	speak: none;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.cs-select > span::after {
	right: 1em;
}

.cs-select.cs-active > span::after {
	-webkit-transform: translateY(-50%) rotate(180deg);
	transform: translateY(-50%) rotate(180deg);
}

div.cs-active {
	z-index: 200;
}

/* Options */
.cs-select .cs-options {
	position: absolute;
	overflow: hidden;
	width: 100%;
	background: #fff;
	visibility: hidden;
}

.cs-select.cs-active .cs-options {
	visibility: visible;
}

.cs-select ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.cs-select ul span {
	padding: 1em;
}

.cs-select ul li.cs-focus span {
	background-color: (@gris + 189);
}

/* Optgroup and optgroup label */
.cs-select li.cs-optgroup ul {
	padding-left: 1em;
}

.cs-select li.cs-optgroup > span {
	cursor: default;
}

div.cs-skin-underline {
	background: transparent;
	font-size: 1.8em;
	.grid_6();
	&.alpha {margin-left: 0!important;}
	&.omega {margin-right: 0!important;}
	@media @mobile{
		width:100%;
		margin-right: 0%;
		.font-size(19);
	}
}



.cs-skin-underline > span {
	padding: 0.5em 3em 0.5em 0.5em;
	border-bottom: 3px solid #000;
	border-color: inherit;
	font-weight: bold;
}

.cs-skin-underline > span::after {
	.urban();
	content: 'k';
	right: 0.25em;
	transition: transform 0.5s;
}

.cs-skin-underline.cs-active > span::after {
	-webkit-transform: translate3d(0,-50%,0) rotate3d(0,0,1,270deg);
	transform: translate3d(0,-50%,0) rotate3d(0,0,1,270deg);
}

.cs-skin-underline .cs-options {
	background: #bbc7c8;
	opacity: 0;
	-webkit-transition: opacity 0.3s 0.4s, visibility 0s 0.7s;
	transition: opacity 0.3s 0.4s, visibility 0s 0.7s;
}

.cs-skin-underline.cs-active .cs-options {
	opacity: 1;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.cs-skin-underline ul span {
	position: relative;
	text-transform: uppercase;
	font-size: 66%;
	font-weight: 700;
	letter-spacing: 1px;
	padding: 1.2em 0.8em;
	opacity: 0;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.cs-select ul span::after {
	content: '';
	opacity: 0;
}

.cs-select .cs-selected span::after {
	.urban();
	content: 'l';
	opacity: 1;
	-webkit-transition: opacity 0.3s 0.7s;
	transition: opacity 0.3s 0.7s;
	margin-left: 1em;
}

.cs-skin-underline ul span::before {
	content: '';
	position: absolute;
	bottom: 1px;
	left: 0;
	height: 3px;
	width: 100%;
	background-color: #fff;
	-webkit-transform: translate3d(200%,0,0);
	transform: translate3d(200%,0,0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.cs-skin-underline.cs-active ul span,
.cs-skin-underline.cs-active ul span::before {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.cs-skin-underline li:nth-child(5) span,
.cs-skin-underline li:nth-child(5) span::before,
.cs-skin-underline.cs-active li:first-child span,
.cs-skin-underline.cs-active li:first-child span::before {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.cs-skin-underline li:nth-child(4) span,
.cs-skin-underline li:nth-child(4) span::before,
.cs-skin-underline.cs-active li:nth-child(2) span,
.cs-skin-underline.cs-active li:nth-child(2) span::before {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.cs-skin-underline li:nth-child(3) span,
.cs-skin-underline li:nth-child(3) span::before {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.cs-skin-underline li:nth-child(2) span,
.cs-skin-underline li:nth-child(2) span::before,
.cs-skin-underline.cs-active li:nth-child(4) span,
.cs-skin-underline.cs-active li:nth-child(4) span::before {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.cs-skin-underline li:first-child span,
.cs-skin-underline li:first-child span::before,
.cs-skin-underline.cs-active li:nth-child(5) span,
.cs-skin-underline.cs-active li:nth-child(5) span::before {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
} /* more items require more delay declarations */

.cs-skin-underline .cs-options li span:hover,
.cs-skin-underline .cs-options li.cs-focus span,
.cs-skin-underline li.cs-selected span {
	color: #566473;
	background: transparent;
}
.cs-skin-underline>span{
	color:#a9a9a9;
	padding: .5em 2em .5em 1em;
	@media @mobile{
		padding: .5em 2em .5em .4em;
	}
}
lable, input{
	display: inline-block;
	padding: .5em 2% .45em;
	.font-size(19);
	.bold();
}
input {
	background:@blanco;
	border-top:0;
	border-right: 0;
	border-left: 0;
	border-bottom: 3px solid #414141;
	outline-width: 0;
	width: 96%;
}
lable{
	color: #a9a9a9;
	width: 96%;
}
textarea {
	border: 3px solid #414141;
	width: 96%;
	height: 5em;
	font-family: monospace;
}

/* Button 7 */
.btn-7 {
	background:@steelBlue;
	color: @blanco;
	border-radius: 7px;
	box-shadow: 0 5px (@steelBlue - 33);
	padding: 1em;
	width: 8em;
	margin: 1em;
	float: right;
}