//Importar
@import "CoolKitten-grid";
@import "variab";
@import "mixins";
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,500,700);

//variables
/* !Colores */
@gris:#232323;
@grisMedio: (@gris + 30);
@grisClaro:(@grisMedio + 80);
@rojo:#de1c24;
@violeta:#662a9d;
@morado:#4b2da7;
@azul:#2e3190;
@darksLateblue:#2d51a7;
@steelBlue:#2a6a9d;

//Mixins
.alegreya(){font-family: 'Alegreya Sans', sans-serif;}
.light(){font-weight: 300;}
.regular(){font-weight: 400;}
.medium(){font-weight: 500;}
.bold(){font-weight: 700;}

//Generales
html {
  font-size: 6.25%; /* Sets up the Base 10 stuff */
}
body{
	color: @grisMedio;
	.alegreya();
	.font-size(16);
}

//Header
header{
	h1{
		background: url(../images/UrbanSigns_logo.jpg) no-repeat scroll center center;
		width: 265px;
		height: 56px;
		text-indent: -5000%;
		background-size: 100% auto;
		display: inline-block;
		@media @mobile {
			margin: .5em;
  		}
  		@media @laptop {
			margin: .5em 1.3em .5em 0;
  		}
	}
	nav{
		@media @mobile {
			display: none;
  		}
  		@media @laptop {
			display: inline-block;
  		}
		ul{
			display:inline-block;
			list-style-type:none;
			margin:0;
			padding:0;
			li{
				display:inline-block;
				margin: 1em 0;
				a, a:link, a:visited{
					text-decoration: none;
					color: @grisMedio;
					font-variant: small-caps;
					text-transform: uppercase;
					.bold();
					.transition();
					@media @laptop {
						padding: .5em;
			  		}
			  		@media @desktop {
						padding: .5em 1em;
			  		}
				}
				a:hover, a:active{
					color: @rojo;
				}
				a.active{
					background: @steelBlue;
					text-align:center;
					.borderRadius(5);
					.transition();
					color: @blanco;
					&:hover{
						background: @rojo;
						color: @blanco;
					}
				}
			}
		}
	}
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

#cd-nav {
	ul {
	  /* mobile first */
	  position: fixed;
	  width: 90%;
	  max-width: 400px;
	  right: 5%;
	  bottom: 20px;
	  border-radius: 0.25em;
	  .borderRadius(5);
	  .boxShadow(0, 0, 10px, rgba(232, 74, 100, 0.4));
	  background:@blanco;
	  visibility: hidden;
	  /* remove overflow:hidden if you want to create a drop-down menu - but then remember to fix/eliminate the list items animation */
	  overflow: hidden;
	  z-index: 1;
	  /* Force Hardware Acceleration in WebKit */
	  backface-visibility: hidden;
	  .transform(scale(0));
	  .transformOrigin (100%, 100%);
	  .transition();
	  @media @laptop{
		  	/* the navigation moves to the top */
		    width: auto;
		    max-width: none;
		    background: transparent;
		    visibility: visible;
		    box-shadow: none;
		    .absoluta(36px, auto);
		    .transform(scale(1));
		    .transition(all,0s);
		    li {
			    display: inline-block;
			    a {
				    .opacity(1);
				    padding: .4em;
				    margin-left: 1.6em;
				    border-bottom: none;
				  }
			}
	  }
	  &.is-visible {
		  visibility: visible;
		  .transform(scale(1));
		  .transition();
		  /* list items animation */
		  li:nth-child(1) {
		    .animation(cd-slide-in, 0.3s);
		  }
		  li:nth-child(2) {
		    .animation(cd-slide-in, 0.4s);
		  }
		  li:nth-child(3) {
		    .animation(cd-slide-in, 0.5s);
		  }
		  li:nth-child(4) {
		    .animation(cd-slide-in, 0.6s);
		  }
		  li:nth-child(5) {
		    .animation(cd-slide-in, 0.7s);
		  }
		  li:nth-child(6) {
		    .animation(cd-slide-in, 0.8s);
		  }
		  li:nth-child(7) {
		    .animation(cd-slide-in, 0.9s);
		  }
		}
	  li {
		  /* Force Hardware Acceleration in WebKit */
		  backface-visibility: hidden;
		  &:last-child a {border-bottom: none;}
		  a {
			  display: block;
			  padding: 1.6em;
			  border-bottom: 1px solid #eff2f6;
			}
		}
	}
	@media @laptop{
		&.is-fixed ul {
		    /* when the user scrolls down, the navigation moves to the bottom right in Fixed position - as on touch devices */
		    position: fixed;
		    width: 90%;
		    max-width: 400px;
		    bottom: 20px;
		    top: auto;
		    background: white;
		    visibility: hidden;
		    .boxShadow(0,0,10px,rgba(232, 74, 100, 0.4));
		    .transform(scale(0));
		    &.has-transitions {
			    /* this class is used to bring back transitions when the navigation moves at the bottom right */
			    .transition();
			  }
			  &.is-visible {
			    /* this class is used to bring back the navigation animation - as on touch devices */
			    visibility: visible;
			    .transform(scale(1));
			    .transition();
			  }
			  &.is-hidden {
			    /* this class is used to animate the scale down the navigation when the user scrolls down with the navigation still open */
			    .transform(scale(0));
			    .transition();
			  }
		    li {
				display: block;
				a {
				    padding: 1.6em;
				    margin-left: 0;
				    border-bottom: ;
				    .borderBottom(1px, solid, @whitesmoke);
				  }
  			}
		  }
	}
}

.cd-nav-trigger {
  position: fixed;
  bottom: 20px;
  right: 5%;
  width: 44px;
  height: 44px;
  background: white;
  .borderRadius(5);
  .boxShadow(0, 0, 10px, rgba(232, 74, 100, 0.4));
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 2;
  span {
	  /* the span element is used to create the menu icon */
	  .absoluta(50%, 50%);
	  display: block;
	  width: 20px;
	  height: 2px;
	  background: @rojo;
	  margin-top: -1px;
	  margin-left: -10px;
	  .transition(background);
	  &::before, &::after {
		  content: '';
		  position: absolute;
		  left: 0;
		  background: inherit;
		  width: 100%;
		  height: 100%;
		  .transform(translateZ(0));
		  .transition();
		}
		&::before {
		  top: -6px;
		  .transform(rotate(0));
		}
		&::after {
		  bottom: -6px;
		  .transform(rotate(0));
		}
	}
	&.menu-is-open {
		box-shadow: none;
		span {
			background: rgba(232, 74, 100, 0);
			&::before, &::after {
			  background: @rojo;
			}
			&::before {
			  top: 0;
			  .transform(rotate(135deg));
			}
			&::after {
			  bottom: 0;
			  .transform(rotate(225deg));
			}
		}
		
	}
}

@media only screen and (min-width: 1170px) {
  .cd-nav-trigger {
    /* the the menu triger is hidden by default on desktop devices */
    visibility: hidden;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform 0.3s, visibility 0s 0.3s;
    -moz-transition: -moz-transform 0.3s, visibility 0s 0.3s;
    transition: transform 0.3s, visibility 0s 0.3s;
  }
  .is-fixed .cd-nav-trigger {
    visibility: visible;
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    transition: all 0s;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-animation: cd-bounce-in 0.3s linear;
    -moz-animation: cd-bounce-in 0.3s linear;
    animation: cd-bounce-in 0.3s linear;
  }
}

#cd-gallery-items li {
  margin-bottom: 1.5em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0.25em;
}
#cd-gallery-items li img {
  width: 100%;
  display: block;
  border-radius: 0.25em;
}
@media only screen and (min-width: 768px) {
  #cd-gallery-items li {
    width: 48%;
    float: left;
    margin-bottom: 2em;
    margin-right: 4%;
  }
  #cd-gallery-items li:nth-child(2n) {
    margin-right: 0;
  }
}
@media only screen and (min-width: 1170px) {
  #cd-gallery-items li {
    width: 31%;
    float: left;
    margin-bottom: 2.5em;
    margin-right: 3.5%;
  }
  #cd-gallery-items li:nth-child(2n) {
    margin-right: 3.5%;
  }
  #cd-gallery-items li:nth-child(3n) {
    margin-right: 0;
  }
}

@-webkit-keyframes cd-slide-in {
  0% {
    -webkit-transform: translateX(100px);
  }

  100% {
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes cd-slide-in {
  0% {
    -moz-transform: translateX(100px);
  }

  100% {
    -moz-transform: translateY(0);
  }
}
@keyframes cd-slide-in {
  0% {
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes cd-bounce-in {
  0% {
    -webkit-transform: scale(0);
  }

  60% {
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-in {
  0% {
    -moz-transform: scale(0);
  }

  60% {
    -moz-transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-in {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }

  60% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
