@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,500,700);
@import url(https://fontastic.s3.amazonaws.com/UDUNUU3okjB2xxmyesCmi/icons.css);
/* Computer */
.grid_1 {
  width: 6.5%;
}
.grid_2 {
  width: 15%;
}
.grid_3 {
  width: 22.5%;
}
.grid_4 {
  width: 32%;
}
.grid_5 {
  width: 40.5%;
}
.grid_6 {
  width: 49%;
}
.grid_7 {
  width: 57.5%;
}
.grid_8 {
  width: 66%;
}
.grid_9 {
  width: 74.5%;
}
.grid_10 {
  width: 83%;
}
.grid_11 {
  width: 91.5%;
}
.grid_12 {
  width: 100%;
}
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  margin: 0 2% 1% 0;
  display: inline-block;
}
.alpha {
  margin-left: 0;
}
.omega {
  margin-right: 0;
}
.container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}
/* Mobile */
@media screen and (max-width: 569px) {
  .grid_1,
  .grid_2,
  .grid_3,
  .grid_4,
  .grid_5,
  .grid_6,
  .grid_7,
  .grid_8,
  .grid_9,
  .grid_10,
  .grid_11,
  .grid_12 {
    width: 100%;
  }
}
/* !Media Querys */
/* !Colores */
html {
  font-size: 6.25%;
  /* Sets up the Base 10 stuff */
}
body {
  color: #414141;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 16px;
  font-size: 16rem;
  font-weight: 400;
}
.container {
  max-width: 1400px;
}
/* General button style (reset) */
.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
/* imágenes */
img {
  max-width: 100%;
}
img.centered {
  display: block;
  margin: 0 auto;
}
img.alignleft {
  float: left;
  margin: 1em;
}
img.alignright {
  float: right;
  margin: 1em;
}
/* On the flex container */
header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
header h1 {
  background: url(../images/UrbanSigns_logo.jpg) no-repeat scroll center center;
  width: 265px;
  height: 56px;
  text-indent: -5000%;
  background-size: 100% auto;
  display: inline-block;
}
@media only screen and (min-width: 320px) {
  header h1 {
    margin: .5em;
  }
}
@media only screen and (min-width: 1024px) {
  header h1 {
    margin: .5em 1.3em .5em 0;
  }
}
@media only screen and (min-width: 1400px) {
  header h1 {
    margin: .5em 4em .5em 0;
  }
}
header #cd-main-nav,
header #cd-nav {
  display: inline-block;
}
@media only screen and (min-width: 1400px) {
  header #cd-nav ul li {
    margin: 0 .6em;
  }
}
#cd-nav {
  margin-top: 1.5em;
}
#cd-nav ul {
  /* mobile first */
  position: fixed;
  width: 90%;
  max-width: 400px;
  right: 5%;
  bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(232, 74, 100, 0.4);
  background: #ffffff;
  visibility: hidden;
  /* remove overflow:hidden if you want to create a drop-down menu - but then remember to fix/eliminate the list items animation */
  overflow: hidden;
  z-index: 1;
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
@media only screen and (min-width: 1024px) {
  #cd-nav ul {
    /* the navigation moves to the top */
    width: auto;
    max-width: none;
    background: transparent;
    visibility: visible;
    box-shadow: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    right: 0;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all 0s ease-in-out;
            transition: all 0s ease-in-out;
  }
}
@media only screen and (min-width: 320px) {
  #cd-nav ul li {
    /* Force Hardware Acceleration in WebKit */
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    list-style-type: none;
    display: block;
    border-bottom: none;
    text-decoration: none;
    color: #414141;
    font-variant: small-caps;
    text-transform: uppercase;
    padding: .35em .54em;
    cursor: pointer;
  }
  #cd-nav ul li:hover,
  #cd-nav ul li:active {
    color: #de1c24;
  }
  #cd-nav ul li.active {
    background: #2a6a9d;
    -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
    color: #ffffff;
  }
  #cd-nav ul li.active:hover {
    background: #de1c24;
    color: #ffffff;
  }
}
@media only screen and (min-width: 1024px) {
  #cd-nav ul li {
    display: inline-block;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
  }
  #cd-nav ul li.active {
    border-radius: 5px;
  }
}
@media only screen and (min-width: 1140px) {
  #cd-nav ul li {
    padding: .35em 1.05em;
  }
}
#cd-nav ul.is-visible {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
  padding: 0;
  /* list items animation */
}
#cd-nav ul.is-visible a {
  display: block;
  border-bottom: none;
  text-decoration: none;
  color: #414141;
  font-variant: small-caps;
  text-transform: uppercase;
  padding: .35em .593em;
  font-size: 20px;
  font-size: 20rem;
}
#cd-nav ul.is-visible a:hover,
#cd-nav ul.is-visible a:active {
  color: #de1c24;
}
#cd-nav ul.is-visible a.active {
  background: #2a6a9d;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
  color: #ffffff;
}
#cd-nav ul.is-visible a.active:hover {
  background: #de1c24;
  color: #ffffff;
}
#cd-nav ul.is-visible li:nth-child(1) {
  -webkit-animation-name: cd-slide-in;
          animation-name: cd-slide-in;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
#cd-nav ul.is-visible li:nth-child(2) {
  -webkit-animation-name: cd-slide-in;
          animation-name: cd-slide-in;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
#cd-nav ul.is-visible li:nth-child(3) {
  -webkit-animation-name: cd-slide-in;
          animation-name: cd-slide-in;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
#cd-nav ul.is-visible li:nth-child(4) {
  -webkit-animation-name: cd-slide-in;
          animation-name: cd-slide-in;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
#cd-nav ul.is-visible li:nth-child(5) {
  -webkit-animation-name: cd-slide-in;
          animation-name: cd-slide-in;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
#cd-nav ul.is-visible li:nth-child(6) {
  -webkit-animation-name: cd-slide-in;
          animation-name: cd-slide-in;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
#cd-nav ul.is-visible li:nth-child(7) {
  -webkit-animation-name: cd-slide-in;
          animation-name: cd-slide-in;
  -webkit-animation-duration: 0.9s;
          animation-duration: 0.9s;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
@media only screen and (min-width: 1024px) {
  #cd-nav.is-fixed ul {
    /* when the user scrolls down, the navigation moves to the bottom right in Fixed position - as on touch devices */
    position: fixed;
    width: 90%;
    max-width: 400px;
    bottom: 20px;
    top: auto;
    background: white;
    visibility: hidden;
    right: 5%;
    box-shadow: 0 0 10px rgba(232, 74, 100, 0.4);
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  #cd-nav.is-fixed ul.has-transitions {
    /* this class is used to bring back transitions when the navigation moves at the bottom right */
    -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
  }
  #cd-nav.is-fixed ul.is-visible {
    /* this class is used to bring back the navigation animation - as on touch devices */
    visibility: visible;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
  }
  #cd-nav.is-fixed ul.is-hidden {
    /* this class is used to animate the scale down the navigation when the user scrolls down with the navigation still open */
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
  }
  #cd-nav.is-fixed ul li {
    display: block;
    margin-left: 0;
  }
}
.cd-nav-trigger {
  position: fixed;
  bottom: 22px;
  right: 5%;
  width: 44px;
  height: 44px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(232, 74, 100, 0.4);
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 2;
}
.cd-nav-trigger span {
  /* the span element is used to create the menu icon */
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 20px;
  height: 2px;
  background: #de1c24;
  margin-top: -1px;
  margin-left: -10px;
  -webkit-transition: background 0.3s ease-in-out;
          transition: background 0.3s ease-in-out;
}
.cd-nav-trigger span::before,
.cd-nav-trigger span::after {
  content: '';
  position: absolute;
  left: 0;
  background: inherit;
  width: 100%;
  height: 100%;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
.cd-nav-trigger span::before {
  top: -6px;
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}
.cd-nav-trigger span::after {
  bottom: -6px;
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}
.cd-nav-trigger.menu-is-open {
  box-shadow: none;
}
.cd-nav-trigger.menu-is-open span {
  background: rgba(232, 74, 100, 0);
}
.cd-nav-trigger.menu-is-open span::before,
.cd-nav-trigger.menu-is-open span::after {
  background: #de1c24;
}
.cd-nav-trigger.menu-is-open span::before {
  top: 0;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}
.cd-nav-trigger.menu-is-open span::after {
  bottom: 0;
  -webkit-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
          transform: rotate(225deg);
}
@media only screen and (min-width: 1024px) {
  .cd-nav-trigger {
    visibility: hidden;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
  }
}
@media only screen and (min-width: 1024px) {
  .is-fixed .cd-nav-trigger {
    visibility: visible;
    -webkit-transition: all 0s ease-in-out;
            transition: all 0s ease-in-out;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-animation-name: cd-bounce-in;
            animation-name: cd-bounce-in;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
    -webkit-animation-iteration-count: linear;
            animation-iteration-count: linear;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
}
/*--- Animaciones ---*/
@-webkit-keyframes cd-slide-in {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes cd-slide-in {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes cd-bounce-in {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  60% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@keyframes cd-bounce-in {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  60% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
/* General Slides */
.slide {
  background-attachment: fixed;
  width: 100%;
  height: auto;
  position: relative;
  padding: 140px 0;
}
#inicio {
  background-image: url(../images/bkg-01.jpg);
  background-color: #2e3190;
  color: #ffffff;
}
@media only screen and (min-width: 320px) {
  #inicio.slide {
    padding: 2em 0;
  }
}
@media only screen and (min-width: 768px) {
  #inicio.slide {
    padding: 70px 0;
  }
}
@media only screen and (min-width: 1024px) {
  #inicio.slide {
    padding: 140px 0;
  }
}
#inicio .container {
  overflow-x: hidden;
}
#inicio .vectors,
#inicio .vendors {
  text-align: center;
}
@media only screen and (min-width: 320px) {
  #inicio .vectors,
  #inicio .vendors {
    width: 100%;
  }
}
@media only screen and (min-width: 1024px) {
  #inicio .vectors,
  #inicio .vendors {
    width: 48%;
  }
}
#inicio .vectors {
  float: left;
}
@media only screen and (min-width: 320px) {
  #inicio .vectors img {
    height: 250px;
    width: auto;
    max-width: inherit;
  }
}
@media only screen and (min-width: 768px) {
  #inicio .vectors img {
    height: auto;
    width: 100%;
    max-width: 100%;
  }
}
#inicio .vendors {
  float: right;
}
#inicio h2 {
  font-size: 34px;
  font-size: 34rem;
  margin-top: 0;
}
#inicio p {
  font-size: 18px;
  font-size: 18rem;
}
#inicio button {
  padding: .3em 1em;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  line-height: 2em;
  margin-bottom: 1em;
  font-size: 22px;
  font-size: 22rem;
  border: 2px solid #ffffff;
  border-radius: 8px;
  background: transparent;
  z-index: 1;
  /* Button 1b */
}
#inicio button:after {
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  background: #ffffff;
  z-index: -4;
}
#inicio button:hover,
#inicio button:active {
  color: #2e3190;
}
#inicio button:hover:after,
#inicio button:active:after {
  height: 100%;
  z-index: -4;
}
#empresa {
  text-align: center;
}
#empresa.slide {
  padding: .4em 0 4em;
}
#empresa h2 {
  font-size: 50px;
  font-size: 50rem;
  color: #4b2da7;
  margin: 0.83em 0 0;
}
#empresa h3 {
  font-size: 18px;
  font-size: 18rem;
  font-weight: 300;
  margin: .5em auto 2.5em;
}
#empresa p {
  font-size: 18px;
  font-size: 18rem;
  margin-bottom: 2.5em;
}
#empresa img {
  border: 10px solid #ffffff;
  box-shadow: 0 0 10px #919191;
  width: 93%;
}
#testimonios {
  color: #ffffff;
  background-image: url(../images/bkg-02.jpg);
  background-color: #2d51a7;
}
#testimonios.slide {
  padding: 45px 0;
}
#testimonios h2 {
  margin: 0;
  text-align: center;
  font-size: 36px;
  font-size: 36rem;
}
.wrapper {
  max-width: 1400px;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
.carousel {
  width: 100%;
  position: relative;
}
.carousel .carousel__content {
  width: auto;
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
.carousel .carousel__content .item {
  display: block;
  float: left;
  width: 100%;
  position: relative;
}
.carousel .carousel__content .item .title {
  margin: 0.5em auto 1em;
  padding: 0;
  width: 85%;
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  font-size: 24rem;
  font-weight: 300;
}
.carousel .carousel__content .item .title--sub {
  margin-top: 0;
  display: block;
  font-size: 24px;
  font-size: 24rem;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  filter: alpha(opacity=50);
}
.carousel .carousel__nav {
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -17px;
  left: 0;
  z-index: 1;
}
.carousel .carousel__nav .nav {
  position: absolute;
  top: 0;
  color: #ffffff;
  text-decoration: none;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  filter: alpha(opacity=50);
  font-size: 24px;
  font-size: 24rem;
  -webkit-transition: all 0.25s ease;
          transition: all 0.25s ease;
}
.carousel .carousel__nav .nav:hover {
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  font-size: 28px;
  font-size: 28rem;
}
.carousel .carousel__nav .nav--right {
  right: 0;
}
#servicios {
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* You can set flex-wrap and flex-direction individually */
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  /* Or do it all in one line with flex flow */
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  /* tweak the where items line up on the row */
  /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
}
#servicios.slide {
  padding: 50px 0;
}
#servicios h2 {
  font-size: 50px;
  font-size: 50rem;
  color: #4b2da7;
  margin: 0 0 1em;
  width: 100%;
}
#servicios section {
  height: 280px;
  width: 280px;
  background: #ececec;
  overflow: hidden;
  border: 1px solid #dfdfdf;
}
#servicios section div {
  color: #4b2da7;
  margin-top: 95px;
  font-size: 55px;
  font-size: 55rem;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
#servicios section div.icon-caja-de-luz {
  line-height: .7em;
  font-size: 70px;
  font-size: 70rem;
}
#servicios section div.icon-letras {
  line-height: 1em;
  margin-top: 0;
  margin-top: 85px;
  height: 83px;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
  font-size: 100px;
  font-size: 100rem;
}
#servicios section div.icon-neon {
  line-height: .75em;
  margin-top: 80px;
  font-size: 75px;
  font-size: 75rem;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
#servicios section div.icon-neon:before {
  text-shadow: 0 0 6px #4b2da7;
}
#servicios section h3 {
  color: #000000;
  margin: 0 auto .5em;
  font-size: 21px;
  font-size: 21rem;
  font-weight: 700;
}
#servicios section p {
  width: 0;
  line-height: 0;
  margin: 0 auto;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  font-size: 0px;
  font-size: 0rem;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
#servicios section button {
  background: #de1c24;
  color: #ffffff;
  -webkit-transition: none;
          transition: none;
  padding: 10px 30px;
  font-size: 18px;
  font-size: 18rem;
  box-shadow: 0 6px 0 #ab0000;
  border-radius: 20px;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
#servicios section button:hover {
  top: 2px;
  box-shadow: 0 4px 0 #ab0000;
}
#servicios section button:active {
  top: 6px;
  box-shadow: 0 0 0 #ab0000;
}
#servicios section:hover div {
  margin-top: 10px;
}
#servicios section:hover div.icon-letras {
  margin-top: 0;
}
#servicios section:hover div.icon-neon {
  margin-top: 0;
}
#servicios section:hover p {
  width: 90%;
  line-height: 1.5em;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  font-size: 14px;
  font-size: 14rem;
}
#servicios section:hover button {
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
#portafolio {
  /* Button 1 */
}
#portafolio.slide {
  padding: 50px 0;
}
#portafolio.container {
  max-width: 1132px;
}
#portafolio ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
  height: auto!important;
}
#portafolio ul li {
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
#portafolio ul li.show {
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  height: 265px;
  width: 265px;
}
#portafolio ul li.hide {
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  height: 0;
  width: 0;
}
#portafolio h2 {
  font-size: 50px;
  font-size: 50rem;
  color: #4b2da7;
  margin: 0 0 1em;
  width: 100%;
  text-align: center;
}
#portafolio .btn {
  border: 3px solid #4b2da7;
  color: #4b2da7;
  display: inline-block;
  text-decoration: none;
  padding: .2em 1em;
  margin: 0 0 .5em .5em;
  text-transform: inherit;
  letter-spacing: initial;
  font-size: 18px;
  font-size: 18rem;
  border-radius: 20px;
}
#portafolio .btn:hover,
#portafolio .btn:active,
#portafolio .btn.selected {
  color: #ffffff;
  background: #4b2da7;
}
/* Grid portafolio */
.og-grid {
  list-style: none;
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.og-grid li {
  margin: .5em;
  vertical-align: top;
  height: 265px;
  width: 265px;
  display: inline-block;
}
.og-grid li > a,
.og-grid li > a img {
  border: none;
  outline: none;
  display: block;
  position: relative;
}
.og-grid li.og-expanded > a::after {
  top: auto;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #ddd;
  border-width: 15px;
  left: 50%;
  margin: -20px 0 0 -15px;
}
.og-expander {
  position: absolute;
  background: #ddd;
  top: auto;
  left: 0;
  width: 100%;
  margin-top: 10px;
  text-align: left;
  height: 0;
  overflow: hidden;
}
.og-expander-inner {
  padding: 50px 30px;
  height: 75%;
}
.og-close {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.og-close::before,
.og-close::after {
  content: '';
  position: absolute;
  width: 100%;
  top: 50%;
  height: 1px;
  background: #888;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.og-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.og-close:hover::before,
.og-close:hover::after {
  background: #333;
}
.og-fullimg,
.og-details {
  width: 46%;
  float: left;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.og-details {
  padding: 0 40px 0 20px;
}
.og-details h3 {
  font-weight: 300;
  font-size: 52px;
  padding: 0;
  margin: 0;
}
.og-details p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #999;
}
.og-details a {
  display: none;
}
.og-fullimg {
  text-align: center;
}
.og-fullimg img {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
}
.og-loading {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ddd;
  box-shadow: 0 0 1px #cccccc, 15px 30px 1px #cccccc, -15px 30px 1px #cccccc;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  -webkit-animation-name: loader;
          animation-name: loader;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
@-webkit-keyframes loader {
  0% {
    background: #ddd;
  }
  33% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #cccccc, -15px 30px 1px #dddddd;
  }
  66% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #dddddd, -15px 30px 1px #cccccc;
  }
}
@keyframes loader {
  0% {
    background: #ddd;
  }
  33% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #cccccc, -15px 30px 1px #dddddd;
  }
  66% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #dddddd, -15px 30px 1px #cccccc;
  }
}
@media screen and (max-width: 830px) {
  .og-expander h3 {
    font-size: 32px;
  }
  .og-expander p {
    font-size: 13px;
  }
  .og-expander a {
    font-size: 12px;
  }
}
@media screen and (max-width: 650px) {
  .og-fullimg {
    display: none;
  }
  .og-details {
    float: none;
    width: 100%;
  }
}
#clientes {
  padding: 0;
}
#clientes h2 {
  font-size: 50px;
  font-size: 50rem;
  color: #4b2da7;
  margin: 0;
  width: 100%;
  text-align: center;
}
#clientes div {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* You can set flex-wrap and flex-direction individually */
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  /* Or do it all in one line with flex flow */
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  /* tweak the where items line up on the row */
  /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
}
#clientes div img {
  margin: 2em 1em;
}
